<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Book store</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>package1.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>package1.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToCart</display-name>
		<servlet-name>AddToCart</servlet-name>
		<servlet-class>package1.servlet.AddToCart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveItem</display-name>
		<servlet-name>RemoveItem</servlet-name>
		<servlet-class>package1.servlet.RemoveItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OrderNow</display-name>
		<servlet-name>OrderNow</servlet-name>
		<servlet-class>package1.servlet.OrderNow</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelOrder</display-name>
		<servlet-name>CancelOrder</servlet-name>
		<servlet-class>package1.servlet.CancelOrder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>checkout</display-name>
		<servlet-name>checkout</servlet-name>
		<servlet-class>package1.servlet.checkout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServete</display-name>
		<servlet-name>RegisterServete</servlet-name>
		<servlet-class>package1.servlet.RegisterServete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReclamationServlet</display-name>
		<servlet-name>ReclamationServlet</servlet-name>
		<servlet-class>package1.servlet.ReclamationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>package1.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateReclamationStatusServlet</display-name>
		<servlet-name>UpdateReclamationStatusServlet</servlet-name>
		<servlet-class>package1.servlet.UpdateReclamationStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/User_Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCart</servlet-name>
		<url-pattern>/AddToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveItem</servlet-name>
		<url-pattern>/RemoveItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderNow</servlet-name>
		<url-pattern>/OrderNow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelOrder</servlet-name>
		<url-pattern>/CancelOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkout</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServete</servlet-name>
		<url-pattern>/RegisterServete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReclamationServlet</servlet-name>
		<url-pattern>/ReclamationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReclamationStatusServlet</servlet-name>
		<url-pattern>/UpdateReclamationStatusServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
